.about-us {

  &__container {
    text-align: center;
  }

  &__title {

  }

  &__description {
    margin-bottom: 4rem;
  }
}

.buttons {

  &--blue {
    @extend %buttons;
    background-color: var(--first-color);
    margin-right: 1.5rem;
  }
  
  &--purple {
    @extend %buttons;
    background-color: var(--second-color);
  }
}